<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/auth.css" />
</head>

<body>
<div class="wrap">
    <div class="login_wrap">
            회원가입이 완료되었습니다.
            <button type="button" style="width: 100%; margin-top: 10px" class="ui button" onClick='window.close()'>
                창닫기
            </button>
    </div>
</div>
</body>

</html>